<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <style>
        .card-back {
            padding: 10px 0px 10px 0px; 
            background-color: red;
            font-size: 1.2em;
            margin: 2px;
            width: 6em; 
            text-align: center;
        }
        .card-front {
            padding: 10px 0px 10px 0px; 
            background-color: green;
            font-size: 1.2em;
            margin: 2px;
            width: 6em;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container w-50">
                <div v-if="!gameOver">
                    <div class="alert alert-primary" v-if="activeCards.length!=2" >Your turn {{currentPlayer.name}}</div>
                    <div class="alert alert-success" v-else >{{ resultMessage }}</div>
                </div>
                
                <div class="alert alert-success" v-else>
                    {{ winner }}
                </div>
            <div class="row">
                <div class="col-3" v-for="card in cards">
                    <div class="card-back" v-if="card.show || card.matched">
                       {{ card.name }}
                    </div>
                    <div class="card-front" v-else @click="flipCard(card)">
                        ?
                    </div>
                </div>
            </div>
            <ul class="list-group">                
                <li class="list-group-item list-group-item-danger">Turns: {{ turns }}</li>
                <li class="list-group-item list-group-item-warning">{{ players.one.name }} Score: {{ players.one.score }}</li>
                <li class="list-group-item list-group-item-info">{{ players.two.name }} Score: {{players.two.score }}</li>
            </ul>
            <br>
            
            <button 
                class="btn btn-primary" 
                @click="nextTurn" 
                v-show="activeCards.length==2 && !gameOver">Next Turn</button>
            <br><br>
                
            <div v-show="gameOver">
                <div class="alert alert-success">
                    Game Over!
                </div>
                <button class="btn btn-primary" @click="newGame">New Game</button>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Player one name" v-model="players.one.name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Done</button>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Player two name" name="player-two-name" v-model="players.two.name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Done</button>
                    </div>
                </div>
            </div>
         </div> 
        <div>
        <b-btn v-b-modal.modal1>Launch demo modal</b-btn>

        <!-- Modal Component -->
        <b-modal id="modal1" title="Let's Play Concentration!" v-model="modalShow">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Player one name" v-model="players.one.name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Done</button>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Player two name" name="player-two-name" v-model="players.two.name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Done</button>
                </div>
            </div>
        </b-modal>
        </div>
    </div>
    
    <script>
        var vm = new Vue({
            el: '#app',
            // components: {
            //     'b-modal': bModal
            // },
            data: {
                animals: ['dog', 'cat', 'mouse', 'hamster', 'goldfish', 'hedgehog', 'ferret', 'budgie'],
                cards: [],
                turns: 0,
                activeCards: [],
                match: false,
                gameOver: false,
                players: {
                    one: {
                        name: '',
                        score: 0
                    },
                    two: {
                        name: '',
                        score: 0
                    }
                },
                active: 'one',
                modalShow: true
            },
            methods: {
                createCards: function() {
                    var doubledAnimals = this.animals.concat(this.animals);
                    var shuffledAnimals = _.shuffle(doubledAnimals);
                    for (var i=0; i< doubledAnimals.length; i++){
                        this.cards.push({
                            name: shuffledAnimals.pop(),
                            show: false,
                            matched: false,
                            player: null
                        });
                    }
                },
                flipCard: function(card) {
                    if (this.activeCards.length == 2){
                        return;
                    }
                    card.show = true;
                    this.activeCards.push(card);
                    if (this.activeCards.length == 2){
                        if (this.activeCards[0].name == this.activeCards[1].name) {
                            this.activeCards[0].matched = true;
                            this.activeCards[1].matched = true;
                            this.match = true;
                            this.players[this.active].score ++;
                        }
                        this.checkGameOver();
                    }
                },
                nextTurn: function(){
                    this.match = false;
                    for (var i=0; i< this.cards.length; i++){
                        this.cards[i].show = false;
                    }
                    this.turns += 1;
                    this.activeCards = [];
                    this.active = this.active == 'one' ? 'two' : 'one'
                },
                checkGameOver: function(){
                    
                    this.gameOver = this.cards.every(function(card){
                        console.log(card);
                        return card.matched;
                    });
                },
                newGame: function(){
                    this.cards = [];
                    this.createCards();
                    this.turns = 0;
                    this.activeCards = [];
                    this.gameOver = false;
                    this.match = false;
                    this.active = 'one',
                    this.players.one.score = 0;
                    this.players.two.score = 0;
                },
            },
            computed: {
                winner: function(){
                    if(this.players.one.score > this.players.two.score){
                        return this.players.one.name + ' wins!';
                    } else if (this.players.one.score < this.players.two.score) {
                        return this.players.two.name + ' wins!';
                    } else {
                        return 'Tie!';
                    }
                },
                currentPlayer: function(){
                    return this.players[this.active]
                },
                resultMessage: function(){
                    return this.match ? 'We have a match!' : 'Loser'
                }
            },
            mounted: function() {
                this.createCards();
            }

        });
    </script>
</body>
</html>